__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

logs/

htmlconv/
.tox/
.coverage
.cache
.coverage.*
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb*

.python-version

celerybeat-schedule

.env

venv/
ENV/

.spyderproject

.ropeproject

*.h5
*.hdf5


























